@import 'tailwindcss';

* {
  font-family: 'Roboto', sans-serif;
}

@theme {
  /* color */
  --color-white: #fff;
  --color-primary: #000000;
  --color-secondary: #646464;
  --color-tertiary: #323232;
  --color-quaternary: #dddddd;

  /* background */
  --color-primary-color: #5c16c5;
  --color-secondary-color: #2d0c5e;
  --color-tertiary-color: #d18000;

  /* box shadow */
  --shadow-md: 0px 4px 8px -3px rgba(0, 0, 0, 0.5);

  /* scroll bar */
  --color-scroll-color: #adadad;

  /* circular progress bar */
  --color-progress-bg: #42246e;
  --color-progress-primary: #14ff00;
  --color-progress-secondary: #d2d531;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.AppBody {
  flex: 1;
}

.container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-quaternary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scroll-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
